.expenseListItem {
    border: 1px solid #bbb;
    padding: 10px 10px;
    margin: 10px 0;
    p {
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
}

.expenseListItem__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #383838;
    text-decoration: none;
}

@media only screen and (max-width: 667px) {
    .expenseListItem {
        padding: 5px 3px;
    }
    .expenseListItem__title h3 , 
    .expenseListItem__title p {
      font-size: 16px !important;
    }
}