
.header__title {
    align-items: center;
    background: #101544;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navlinks {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 22px;
}
